In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sidetable
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
pd.options.display.max_columns = None

In [2]:
df = pd.read_csv("datos/bank_additional_sin_outliers.csv", index_col = 0)

# Pair Programming Limpieza V

### Hipótesis

1. La edad, el trabajo, el estado civil, la educación, la situación de deuda y la forma de contacto pueden influir en la probabilidad de que un cliente acepte la oferta.

2. El número de veces que se ha contactado a un cliente en el pasado (campo campaign), el número de días que han pasado desde el último contacto (campo pdays), y el resultado de la campaña anterior (campo poutcome) pueden afectar la respuesta del cliente a una nueva oferta.

3. Las variables económicas (tales como el índice de precios al consumidor (cons.price.idx), la tasa de variación del empleo (emp.var.rate), etc.) pueden influir en la probabilidad de que un cliente acepte la oferta.

4. Los clientes que ya tienen una hipoteca (housing) o un préstamo (loan) pueden ser menos propensos a aceptar una nueva oferta, ya que podrían estar limitados financieramente.

### Tareas

1. Es el momento de eliminar los nulos:

- Reemplazad los valores nulos del resto de las columnas categóricas por la moda, usando el método SimpleImputer. 

💡 Pista 💡 La moda en este tipo de aproximación se indica como most_frequent.

In [7]:
df_cat = df.select_dtypes(include='object')
df_cat

,job,marital,education,default,housing,loan,contact,poutcome,y,month_day_week,month,day
0,housemaid,married,basic 4y,no,no,no,telephone,NONEXISTENT,no,"['may', 'mon']",may,mon
1,services,married,high school,NaN,no,no,telephone,NONEXISTENT,no,"['may', 'mon']",may,mon
2,services,married,high school,no,si,no,telephone,NONEXISTENT,no,"['may', 'mon']",may,mon
3,administration,married,basic 6y,no,no,no,telephone,NONEXISTENT,no,"['may', 'mon']",may,mon
4,services,married,high school,no,no,si,telephone,NONEXISTENT,no,"['may', 'mon']",may,mon
...,...,...,...,...,...,...,...,...,...,...,...,...
41183,retired,married,professional course,no,si,no,cellular,NONEXISTENT,yes,"['nov', 'fri']",nov,fri
41184,blue-collar,married,professional course,no,no,no,cellular,NONEXISTENT,no,"['nov', 'fri']",nov,fri
41185,retired,married,university degree,no,si,no,cellular,NONEXISTENT,no,"['nov', 'fri']",nov,fri
41186,technician,married,professional course,no,no,no,cellular,NONEXISTENT,yes,"['nov', 'fri']",nov,fri
41187,retired,married,professional course,no,si,no,cellular,FAILURE,no,"['nov', 'fri']",nov,fri

In [5]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [8]:
imputer = imputer.fit(df_cat)

In [9]:
imputer

SimpleImputer(strategy='most_frequent')

In [11]:
df_cat = imputer.transform(df_cat)
df_cat

array([['housemaid', 'married', 'basic 4y', ..., "['may', 'mon']", 'may',
        'mon'],
       ['services', 'married', 'high school', ..., "['may', 'mon']",
        'may', 'mon'],
       ['services', 'married', 'high school', ..., "['may', 'mon']",
        'may', 'mon'],
       ...,
       ['retired', 'married', 'university degree', ..., "['nov', 'fri']",
        'nov', 'fri'],
       ['technician', 'married', 'professional course', ...,
        "['nov', 'fri']", 'nov', 'fri'],
       ['retired', 'married', 'professional course', ...,
        "['nov', 'fri']", 'nov', 'fri']], dtype=object)

AttributeError: 'numpy.ndarray' object has no attribute 'isnull'

- Utilizad el método Iterative Imputer para reemplazar todos los valores nulos de las columnas numéricas.

- Reemplazad los valores nulos de la columna age por la media de la edad usando el método KNN Imputer.

- Reemplazad los valores nulos de la columna age por la media de la edad usando el método Simple Imputer.

- ¿Podríais explicar qué diferencia hay entre estos últimos tres ejercicios?

2. Guardad el csv.