In [1]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import mysql.connector

# Pair Programming ETL Carga I

1. Cread la BBDD con el nombre de energ칤a. La BBDD tendr치 la siguiente forma:

- Tabla fechas

- Tabla nacional_renovable_no_renovable

- Tabla comunidades_renovable_no_renovable

- Tabla comunidades

In [2]:
df_ccaa = pd.read_csv('datos/energia_a침o_ccaa.csv', index_col=0)

In [3]:
df_ccaa = pd.read_csv('datos/energia_a침o_peninsula.csv', index_col=0)

In [4]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="AlumnaAdalab", auth_plugin='mysql_native_password')
                                    
    print("Conexi칩n realizada con 칠xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
energia = crear_bbdd('energia')

Conexi칩n realizada con 칠xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS energia;

In [6]:
def crear_insertar_tabla(nombre_bbdd, contrase침a, plugin, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contrase침a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}", auth_plugin = f'{plugin}')
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [7]:
query_fecha = """CREATE TABLE IF NOT EXISTS `energia`.`fechas` (
  `idfechas` INT NOT NULL,
  `fecha` DATE NOT NULL,
  PRIMARY KEY (`idfechas`))
ENGINE = InnoDB;"""

In [8]:
query_comunidades = """ CREATE TABLE IF NOT EXISTS `energia`.`comunidades` (
  `idcomunidades` INT NOT NULL,
  `comunidad` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idcomunidades`))
ENGINE = InnoDB;"""

In [9]:
query_nacional = """CREATE TABLE IF NOT EXISTS `energia`.`nacional_renovable_no_renovable` (
  `idnacional_renovable_no_renovable` INT NOT NULL,
  `porcentaje` INT NOT NULL,
  `tipo_energia` VARCHAR(45) NOT NULL,
  `valor` DECIMAL NOT NULL,
  `fechas_idfechas` INT NOT NULL,
  PRIMARY KEY (`idnacional_renovable_no_renovable`),
  INDEX `fk_nacional_renovable_no_renovable_fechas1_idx` (`fechas_idfechas` ASC) VISIBLE,
  CONSTRAINT `fk_nacional_renovable_no_renovable_fechas1`
    FOREIGN KEY (`fechas_idfechas`)
    REFERENCES `energia`.`fechas` (`idfechas`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;"""

In [10]:
query_comunidades_renovables_norenovables = """ CREATE TABLE IF NOT EXISTS `energia`.`comunidades_renovable_no_renovable` (
  `idcomunidades_renovable_no_renovable` INT NOT NULL,
  `porcentaje` INT NOT NULL,
  `tipo_energia` VARCHAR(45) NOT NULL,
  `valor` DECIMAL NOT NULL,
  `fechas_idfechas` INT NOT NULL,
  `comunidades_idcomunidades` INT NOT NULL,
  PRIMARY KEY (`idcomunidades_renovable_no_renovable`),
  INDEX `fk_comunidades_renovable_no_renovable_fechas1_idx` (`fechas_idfechas` ASC) VISIBLE,
  INDEX `fk_comunidades_renovable_no_renovable_comunidades1_idx` (`comunidades_idcomunidades` ASC) VISIBLE,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_fechas1`
    FOREIGN KEY (`fechas_idfechas`)
    REFERENCES `energia`.`fechas` (`idfechas`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_comunidades1`
    FOREIGN KEY (`comunidades_idcomunidades`)
    REFERENCES `energia`.`comunidades` (`idcomunidades`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;"""

In [11]:
crear_insertar_tabla("energia","AlumnaAdalab", 'mysql_native_password', query_fecha)

In [12]:
crear_insertar_tabla("energia","AlumnaAdalab", 'mysql_native_password', query_nacional)

In [13]:
crear_insertar_tabla("energia","AlumnaAdalab", 'mysql_native_password', query_comunidades)

In [14]:
crear_insertar_tabla("energia","AlumnaAdalab", 'mysql_native_password', query_comunidades_renovables_norenovables)

2. BONUS Insertar los datos en las tablas.

游늷 Nota Esta parte del pair es optativa y no ser치 considerada para la evaluaci칩n

In [15]:
df_ccaa.sample()

          value  percentage    datetime tipo_energia     region
0  1.001248e+08         0.4  2016-01-01    Renovable  Pen칤nsula

In [16]:
for indice, fila in df_ccaa.iterrows():

    query_date_time = f"""INSERT INTO fechas (fecha)  
        VALUES ('{fila["datetime"]}');"""
    
    crear_insertar_tabla("energia", "AlumnaAdalab", 'mysql_native_password', query_date_time)

1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value
1364 (HY000): Field 'idfechas' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idfechas' doesn't have a default value