In [1]:
import requests
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

# Pair Programming ETL I

1. Nuestros jefes están especialmente interesados en los datos de generación de las energías renovables y no renovables a nivel nacional. En concreto, nos piden sacar toda la información para las fechas de 1 de Enero del 2011 hasta el 31 de Diciembre del 2022. De toda la información que tenemos de generación queremos la evolucion de renovable y no renovable. Además deberemos incluir una columna nueva identificando si el dato corresponde a energía renovable o no renovable. NOTA: nos piden que el código debe estar en una función.

generacion y evolución

llamada a la api de junio en español

In [3]:
url = 'https://apidatos.ree.es/es/datos/balance/balance-electrico?start_date=2019-01-01T00:00&end_date=2019-01-31T23:59&time_trunc=day'

In [4]:
res = requests.get(url)

In [5]:
res.status_code

200

In [7]:
res.reason

'OK'

In [9]:
response_json = res.json()

In [10]:
response_json.keys()

dict_keys(['data', 'included'])

In [11]:
response_json['data']

{'type': 'Balance de energía eléctrica',
 'id': 'bal1',
 'attributes': {'title': 'Balance de energía eléctrica',
  'last-update': '2020-01-10T08:15:41.000+01:00',
  'description': 'Balance eléctrico: asignación de unidades de producción según combustible principal. La producción neta de las instalaciones no renovables e hidráulicas UGH tiene descontados los consumos propios de las instalaciones. En dichos tipos de producción una generación negativa indica que la electricidad horaria consumida para los usos de las plantas excede la producción horaria de las instalaciones.'},
 'meta': {'cache-control': {'cache': 'MISS'}}}

In [15]:
response_json['included'][0].keys()

dict_keys(['type', 'id', 'attributes'])

In [18]:
response_json['included'][0]['attributes'].keys()

dict_keys(['title', 'last-update', 'description', 'magnitude', 'content'])

In [23]:
pd.DataFrame(response_json['included'][0]['attributes']['content'][0]['attributes']['values'])

         value  percentage                       datetime
0    53722.120    0.317222  2019-01-01T00:00:00.000+01:00
1    61294.768    0.208275  2019-01-02T00:00:00.000+01:00
2    82981.951    0.362276  2019-01-03T00:00:00.000+01:00
3    94301.940    0.448253  2019-01-04T00:00:00.000+01:00
4    58822.692    0.274651  2019-01-05T00:00:00.000+01:00
5    42064.747    0.171062  2019-01-06T00:00:00.000+01:00
6    66708.373    0.248333  2019-01-07T00:00:00.000+01:00
7    68044.833    0.249237  2019-01-08T00:00:00.000+01:00
8    48716.673    0.143292  2019-01-09T00:00:00.000+01:00
9    62288.159    0.171462  2019-01-10T00:00:00.000+01:00
10   64303.769    0.194580  2019-01-11T00:00:00.000+01:00
11   36415.318    0.131814  2019-01-12T00:00:00.000+01:00
12   42369.957    0.157608  2019-01-13T00:00:00.000+01:00
13   53598.566    0.194391  2019-01-14T00:00:00.000+01:00
14   81267.421    0.469799  2019-01-15T00:00:00.000+01:00
15   82944.481    0.464633  2019-01-16T00:00:00.000+01:00
16   72981.884    0.401562  2019-01-17T00:00:00.000+01:00
17  101622.441    0.490570  2019-01-18T00:00:00.000+01:00
18   69273.204    0.297408  2019-01-19T00:00:00.000+01:00
19   47734.816    0.169335  2019-01-20T00:00:00.000+01:00
20   91299.463    0.308810  2019-01-21T00:00:00.000+01:00
21   76301.055    0.218884  2019-01-22T00:00:00.000+01:00
22   64317.281    0.138068  2019-01-23T00:00:00.000+01:00
23   71281.067    0.178410  2019-01-24T00:00:00.000+01:00
24   76711.708    0.212731  2019-01-25T00:00:00.000+01:00
25   68907.867    0.297693  2019-01-26T00:00:00.000+01:00
26   54595.836    0.141486  2019-01-27T00:00:00.000+01:00
27   76405.736    0.178186  2019-01-28T00:00:00.000+01:00
28   78839.109    0.193553  2019-01-29T00:00:00.000+01:00
29   85928.214    0.219505  2019-01-30T00:00:00.000+01:00
30   91169.602    0.190948  2019-01-31T00:00:00.000+01:00

AÑO 2015

In [28]:
url2 = 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2015-01-01T00:00&end_date=2015-12-31T23:59&time_trunc=year&geo_trunc=electric_system&geo_limit=ccaa&geo_ids=7'

In [29]:
res2 = requests.get(url2)
res2

In [30]:
res2.json()

{'data': {'type': 'Generación por tecnología',
  'id': 'gen1',
  'attributes': {'title': 'Generación por tecnología',
   'last-update': '2019-06-12T16:52:00.000+02:00',
   'description': None},
  'meta': {'cache-control': {'cache': 'MISS'}}},
 'included': [{'type': 'Hidráulica',
   'id': '10330',
   'groupId': '1',
   'attributes': {'title': 'Hidráulica',
    'description': None,
    'color': '#0090d1',
    'type': 'Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:04.000+02:00',
    'values': [{'value': 700914.375,
      'percentage': 0.03246965233571151,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Turbinación bombeo',
   'id': '1694',
   'groupId': '1',
   'attributes': {'title': 'Turbinación bombeo',
    'description': None,
    'color': '#007cf9',
    'type': 'No-Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:06.000+02:00',
    'values': [{'value': 31737.669,
      'percentage': 0.0014702381847652773,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Nuclear',
   'id': '1695',
   'groupId': '1',
   'attributes': {'title': 'Nuclear',
    'description': None,
    'color': '#464394',
    'type': 'No-Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:06.000+02:00',
    'values': [{'value': 7913818.669,
      'percentage': 0.3666053229829866,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Carbón',
   'id': '10331',
   'groupId': '1',
   'attributes': {'title': 'Carbón',
    'description': None,
    'color': '#993300',
    'type': 'No-Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:04.000+02:00',
    'values': [{'value': 894928.56,
      'percentage': 0.04145730241086715,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Ciclo combinado',
   'id': '1703',
   'groupId': '1',
   'attributes': {'title': 'Ciclo combinado',
    'description': None,
    'color': '#ffcc66',
    'type': 'No-Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:06.000+02:00',
    'values': [{'value': 1280686.57,
      'percentage': 0.059327428801720414,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Eólica',
   'id': '10333',
   'groupId': '1',
   'attributes': {'title': 'Eólica',
    'description': None,
    'color': '#6fb114',
    'type': 'Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:05.000+02:00',
    'values': [{'value': 7286716.406,
      'percentage': 0.33755499503308845,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Solar fotovoltaica',
   'id': '1707',
   'groupId': '1',
   'attributes': {'title': 'Solar fotovoltaica',
    'description': None,
    'color': '#e48500',
    'type': 'Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:06.000+02:00',
    'values': [{'value': 1722910.268,
      'percentage': 0.07981331158686471,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Solar térmica',
   'id': '1708',
   'groupId': '1',
   'attributes': {'title': 'Solar térmica',
    'description': None,
    'color': '#ff0000',
    'type': 'Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:06.000+02:00',
    'values': [{'value': 735486.298,
      'percentage': 0.034071186503686,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Otras renovables',
   'id': '10334',
   'groupId': '1',
   'attributes': {'title': 'Otras renovables',
    'description': None,
    'color': '#9a5cbc',
    'type': 'Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:05.000+02:00',
    'values': [{'value': 252176.13,
      'percentage': 0.011681985076230158,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Cogeneración',
   'id': '10335',
   'groupId': '1',
   'attributes': {'title': 'Cogeneración',
    'description': None,
    'color': '#cfa2ca',
    'type': 'No-Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-20T14:13:05.000+02:00',
    'values': [{'value': 767378.364,
      'percentage': 0.03554857708407974,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}},
  {'type': 'Generación total',
   'id': '1',
   'groupId': '1',
   'attributes': {'title': 'Generación total',
    'description': None,
    'color': '#2b2e34',
    'type': 'Generación total',
    'magnitude': None,
    'composite': True,
    'last-update': '2019-06-20T14:13:04.000+02:00',
    'values': [{'value': 21586753.309,
      'percentage': 1,
      'datetime': '2015-01-01T00:00:00.000+01:00'}]}}]}

crear df vacío

año a año

concatenar diccionario al df vacío

2. Sacaremos la misma información que en el ejericio anterior, pero en este caso por CCAA. Para esto necesitaremos los códigos de cada una de las comunidades autónomas que encontraréis en el siguiente diccionario:

In [ ]:
cod_comunidades = {'Ceuta': 8744,
                    'Melilla': 8745,
                    'Andalucía': 4,
                    'Aragón': 5,
                    'Cantabria': 6,
                    'Castilla - La Mancha': 7,
                    'Castilla y León': 8,
                    'Cataluña': 9,
                    'País Vasco': 10,
                    'Principado de Asturias': 11,
                    'Comunidad de Madrid': 13,
                    'Comunidad Foral de Navarra': 14,
                    'Comunitat Valenciana': 15,
                    'Extremadura': 16,
                    'Galicia': 17,
                    'Illes Balears': 8743,
                    'Canarias': 8742,
                    'Región de Murcia': 21,
                    'La Rioja': 20}

3. Guardad los csv ya que mañana los seguiremos usando en los siguientes pairs