In [41]:
import requests
import pandas as pd
import numpy as np
import pyjsonviewer

from datetime import datetime, timedelta

# Pair Programming ETL I

1. Nuestros jefes están especialmente interesados en los datos de generación de las energías renovables y no renovables a nivel nacional. En concreto, nos piden sacar toda la información para las fechas de 1 de Enero del 2011 hasta el 31 de Diciembre del 2022. De toda la información que tenemos de generación queremos la evolucion de renovable y no renovable. Además deberemos incluir una columna nueva identificando si el dato corresponde a energía renovable o no renovable. NOTA: nos piden que el código debe estar en una función.

generacion y evolución

llamada a la api de junio en español

In [3]:
url = 'https://apidatos.ree.es/es/datos/balance/balance-electrico?start_date=2019-01-01T00:00&end_date=2019-01-31T23:59&time_trunc=day'

In [4]:
res = requests.get(url)

In [5]:
res.status_code

200

In [7]:
res.reason

'OK'

In [9]:
response_json = res.json()

In [10]:
response_json.keys()

dict_keys(['data', 'included'])

In [11]:
response_json['data']

{'type': 'Balance de energía eléctrica',
 'id': 'bal1',
 'attributes': {'title': 'Balance de energía eléctrica',
  'last-update': '2020-01-10T08:15:41.000+01:00',
  'description': 'Balance eléctrico: asignación de unidades de producción según combustible principal. La producción neta de las instalaciones no renovables e hidráulicas UGH tiene descontados los consumos propios de las instalaciones. En dichos tipos de producción una generación negativa indica que la electricidad horaria consumida para los usos de las plantas excede la producción horaria de las instalaciones.'},
 'meta': {'cache-control': {'cache': 'MISS'}}}

In [15]:
response_json['included'][0].keys()

dict_keys(['type', 'id', 'attributes'])

In [18]:
response_json['included'][0]['attributes'].keys()

dict_keys(['title', 'last-update', 'description', 'magnitude', 'content'])

In [23]:
pd.DataFrame(response_json['included'][0]['attributes']['content'][0]['attributes']['values'])

         value  percentage                       datetime
0    53722.120    0.317222  2019-01-01T00:00:00.000+01:00
1    61294.768    0.208275  2019-01-02T00:00:00.000+01:00
2    82981.951    0.362276  2019-01-03T00:00:00.000+01:00
3    94301.940    0.448253  2019-01-04T00:00:00.000+01:00
4    58822.692    0.274651  2019-01-05T00:00:00.000+01:00
5    42064.747    0.171062  2019-01-06T00:00:00.000+01:00
6    66708.373    0.248333  2019-01-07T00:00:00.000+01:00
7    68044.833    0.249237  2019-01-08T00:00:00.000+01:00
8    48716.673    0.143292  2019-01-09T00:00:00.000+01:00
9    62288.159    0.171462  2019-01-10T00:00:00.000+01:00
10   64303.769    0.194580  2019-01-11T00:00:00.000+01:00
11   36415.318    0.131814  2019-01-12T00:00:00.000+01:00
12   42369.957    0.157608  2019-01-13T00:00:00.000+01:00
13   53598.566    0.194391  2019-01-14T00:00:00.000+01:00
14   81267.421    0.469799  2019-01-15T00:00:00.000+01:00
15   82944.481    0.464633  2019-01-16T00:00:00.000+01:00
16   72981.884    0.401562  2019-01-17T00:00:00.000+01:00
17  101622.441    0.490570  2019-01-18T00:00:00.000+01:00
18   69273.204    0.297408  2019-01-19T00:00:00.000+01:00
19   47734.816    0.169335  2019-01-20T00:00:00.000+01:00
20   91299.463    0.308810  2019-01-21T00:00:00.000+01:00
21   76301.055    0.218884  2019-01-22T00:00:00.000+01:00
22   64317.281    0.138068  2019-01-23T00:00:00.000+01:00
23   71281.067    0.178410  2019-01-24T00:00:00.000+01:00
24   76711.708    0.212731  2019-01-25T00:00:00.000+01:00
25   68907.867    0.297693  2019-01-26T00:00:00.000+01:00
26   54595.836    0.141486  2019-01-27T00:00:00.000+01:00
27   76405.736    0.178186  2019-01-28T00:00:00.000+01:00
28   78839.109    0.193553  2019-01-29T00:00:00.000+01:00
29   85928.214    0.219505  2019-01-30T00:00:00.000+01:00
30   91169.602    0.190948  2019-01-31T00:00:00.000+01:00

AÑO 2011

In [ ]:
https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2014-01-01T00:00&end_date=2018-12-31T23:59&time_trunc=year&geo_trunc=electric_system&geo_limit=ccaa&geo_ids=7

In [45]:
url2 = 'https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date=2011-01-01T00:00&end_date=2011-12-31T23:59&time_trunc=month&geo_trunc=electric_system&geo_limit=peninsular&geo_ids=8741'

In [46]:
res2 = requests.get(url2)
res2

In [49]:
res2_json = res2.json()
res2_json

{'data': {'type': 'Evolución de la generación renovable/no renovable',
  'id': 'gen2',
  'attributes': {'title': 'Evolución de la generación renovable/no renovable',
   'last-update': '2019-06-12T15:32:24.000+02:00',
   'description': None},
  'meta': {'cache-control': {'cache': 'MISS'}}},
 'included': [{'type': 'Renovable',
   'id': '10299',
   'groupId': None,
   'attributes': {'title': 'Renovable',
    'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
    'color': '#92d050',
    'type': 'Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-12T15:32:24.000+02:00',
    'values': [{'value': 9877373.4755,
      'percentage': 0.4006432282405463,
      'datetime': '2011-01-01T00:00:00.000+01:00'},
     {'value': 7935272.0665,
      'percentage': 0.36059734283490813,
      'datetime': '2011-02-01T00:00:00.000+01:00'},
     {'value': 9547139.3385,
      'percentage': 0.4003424343633109,
      'datetime': '2011-03-01T00:00:00.000+01:00'},
     {'value': 8058827.1765,
      'percentage': 0.39193160478360506,
      'datetime': '2011-04-01T00:00:00.000+02:00'},
     {'value': 7192162.8755,
      'percentage': 0.3480617855360402,
      'datetime': '2011-05-01T00:00:00.000+02:00'},
     {'value': 6367810.0965,
      'percentage': 0.29924771887569357,
      'datetime': '2011-06-01T00:00:00.000+02:00'},
     {'value': 6393820.0425,
      'percentage': 0.2834159132521076,
      'datetime': '2011-07-01T00:00:00.000+02:00'},
     {'value': 5623991.56,
      'percentage': 0.2567451745409532,
      'datetime': '2011-08-01T00:00:00.000+02:00'},
     {'value': 4855772.878,
      'percentage': 0.22384409020444446,
      'datetime': '2011-09-01T00:00:00.000+02:00'},
     {'value': 5555985.352,
      'percentage': 0.2648901732076498,
      'datetime': '2011-10-01T00:00:00.000+02:00'},
     {'value': 6777688.4315,
      'percentage': 0.3153721445549566,
      'datetime': '2011-11-01T00:00:00.000+01:00'},
     {'value': 7647076.149,
      'percentage': 0.3368958279242338,
      'datetime': '2011-12-01T00:00:00.000+01:00'}]}},
  {'type': 'No renovable',
   'id': '10298',
   'groupId': None,
   'attributes': {'title': 'No renovable',
    'description': None,
    'color': '#666666',
    'type': 'No renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-12T15:32:24.000+02:00',
    'values': [{'value': 14776415.1805,
      'percentage': 0.5993567717594536,
      'datetime': '2011-01-01T00:00:00.000+01:00'},
     {'value': 14070636.2525,
      'percentage': 0.6394026571650919,
      'datetime': '2011-02-01T00:00:00.000+01:00'},
     {'value': 14300293.5565,
      'percentage': 0.599657565636689,
      'datetime': '2011-03-01T00:00:00.000+01:00'},
     {'value': 12502992.9935,
      'percentage': 0.6080683952163949,
      'datetime': '2011-04-01T00:00:00.000+02:00'},
     {'value': 13471303.1365,
      'percentage': 0.6519382144639598,
      'datetime': '2011-05-01T00:00:00.000+02:00'},
     {'value': 14911583.8465,
      'percentage': 0.7007522811243064,
      'datetime': '2011-06-01T00:00:00.000+02:00'},
     {'value': 16166028.3765,
      'percentage': 0.7165840867478924,
      'datetime': '2011-07-01T00:00:00.000+02:00'},
     {'value': 16280963.694,
      'percentage': 0.7432548254590468,
      'datetime': '2011-08-01T00:00:00.000+02:00'},
     {'value': 16836883.263,
      'percentage': 0.7761559097955556,
      'datetime': '2011-09-01T00:00:00.000+02:00'},
     {'value': 15418689.868,
      'percentage': 0.7351098267923503,
      'datetime': '2011-10-01T00:00:00.000+02:00'},
     {'value': 14713392.9735,
      'percentage': 0.6846278554450433,
      'datetime': '2011-11-01T00:00:00.000+01:00'},
     {'value': 15051560.982,
      'percentage': 0.6631041720757662,
      'datetime': '2011-12-01T00:00:00.000+01:00'}]}}]}

In [57]:
renovables_2011 = pd.DataFrame(res2_json['included'][0]['attributes']['values'])

In [58]:
renovables_2011['tipo_energia'] = 'Renovable'

In [59]:
renovables_2011

           value  percentage                       datetime tipo_energia
0   9.877373e+06    0.400643  2011-01-01T00:00:00.000+01:00    Renovable
1   7.935272e+06    0.360597  2011-02-01T00:00:00.000+01:00    Renovable
2   9.547139e+06    0.400342  2011-03-01T00:00:00.000+01:00    Renovable
3   8.058827e+06    0.391932  2011-04-01T00:00:00.000+02:00    Renovable
4   7.192163e+06    0.348062  2011-05-01T00:00:00.000+02:00    Renovable
5   6.367810e+06    0.299248  2011-06-01T00:00:00.000+02:00    Renovable
6   6.393820e+06    0.283416  2011-07-01T00:00:00.000+02:00    Renovable
7   5.623992e+06    0.256745  2011-08-01T00:00:00.000+02:00    Renovable
8   4.855773e+06    0.223844  2011-09-01T00:00:00.000+02:00    Renovable
9   5.555985e+06    0.264890  2011-10-01T00:00:00.000+02:00    Renovable
10  6.777688e+06    0.315372  2011-11-01T00:00:00.000+01:00    Renovable
11  7.647076e+06    0.336896  2011-12-01T00:00:00.000+01:00    Renovable

In [56]:
res2_json['included'][0]['type']

'Renovable'

In [61]:
anos = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

In [62]:
dicc = {}

for ano in anos:

    url = f'https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date={ano}-01-01T00:00&end_date={ano}-12-31T23:59&time_trunc=month&geo_trunc=electric_system&geo_limit=peninsular&geo_ids=8741'
    response = requests.get(url=url)
    response.status_code
    response.reason
    df = pd.DataFrame(response.json()['included'][0]['attributes']['values'])

    dicc[ano] = df

In [ ]:
dataframevacio = pd.DataFrame

for ano in anos:

    url = f'https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date={ano}-01-01T00:00&end_date={ano}-12-31T23:59&time_trunc=month&geo_trunc=electric_system&geo_limit=peninsular&geo_ids=8741'
    response = requests.get(url=url)
    response.status_code
    response.reason
    df = pd.DataFrame(response.json()['included'][0]['attributes']['values'])

    dicc[ano] = df

In [64]:
df_renovables = pd.concat(dicc.values(), axis = 0)

In [67]:
df_renovables['tipo_energia'] = 'Renovable'
df_renovables

           value  percentage                       datetime tipo_energia
0   9.877373e+06    0.400643  2011-01-01T00:00:00.000+01:00    Renovable
1   7.935272e+06    0.360597  2011-02-01T00:00:00.000+01:00    Renovable
2   9.547139e+06    0.400342  2011-03-01T00:00:00.000+01:00    Renovable
3   8.058827e+06    0.391932  2011-04-01T00:00:00.000+02:00    Renovable
4   7.192163e+06    0.348062  2011-05-01T00:00:00.000+02:00    Renovable
..           ...         ...                            ...          ...
7   9.279522e+06    0.389224  2022-08-01T00:00:00.000+02:00    Renovable
8   8.686951e+06    0.388205  2022-09-01T00:00:00.000+02:00    Renovable
9   8.280235e+06    0.398536  2022-10-01T00:00:00.000+02:00    Renovable
10  9.907479e+06    0.482850  2022-11-01T00:00:00.000+01:00    Renovable
11  9.800160e+06    0.463801  2022-12-01T00:00:00.000+01:00    Renovable

[144 rows x 4 columns]

crear df vacío

año a año

concatenar diccionario al df vacío

2. Sacaremos la misma información que en el ejericio anterior, pero en este caso por CCAA. Para esto necesitaremos los códigos de cada una de las comunidades autónomas que encontraréis en el siguiente diccionario:

In [ ]:
cod_comunidades = {'Ceuta': 8744,
                    'Melilla': 8745,
                    'Andalucía': 4,
                    'Aragón': 5,
                    'Cantabria': 6,
                    'Castilla - La Mancha': 7,
                    'Castilla y León': 8,
                    'Cataluña': 9,
                    'País Vasco': 10,
                    'Principado de Asturias': 11,
                    'Comunidad de Madrid': 13,
                    'Comunidad Foral de Navarra': 14,
                    'Comunitat Valenciana': 15,
                    'Extremadura': 16,
                    'Galicia': 17,
                    'Illes Balears': 8743,
                    'Canarias': 8742,
                    'Región de Murcia': 21,
                    'La Rioja': 20}

3. Guardad los csv ya que mañana los seguiremos usando en los siguientes pairs