In [2]:
import requests
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

In [3]:
df_ccaa = pd.read_csv('datos/poblacion_comunidades.csv', index_col=0)
df_peninsula = pd.read_csv('datos/energia_año_peninsula.csv', index_col=0)

# Pair Programming ETL Transformación I

1. El csv donde tenemos la información censal de cada Comunidad Autónoma tiene algunas columnas que no son redundantes para nuestro análisis, en este csv tendremos que:

- Eliminar la columna de Comunidades_y_Ciudades_Autónomas

In [4]:
df_ccaa.drop(['Comunidades_y_Ciudades_Autónomas'], axis=1, inplace=True)

In [5]:
df_ccaa.head(2)

  Comunidad  indice   Año   Total
0     Ceuta    8744  2022  83.117
1     Ceuta    8744  2021  83.517

2. En el csv con la información de generación de energías renovables y no renovables a nivel nacional deberéis:

- Para las columnas value y percentage, redondear los decimales de los valores a 2.

In [6]:
df_peninsula.head(2)

          value  percentage                       datetime tipo_energia
0  9.877373e+06    0.400643  2011-01-01T00:00:00.000+01:00    Renovable
1  7.935272e+06    0.360597  2011-02-01T00:00:00.000+01:00    Renovable

In [7]:
df_peninsula.dtypes

value           float64
percentage      float64
datetime         object
tipo_energia     object
dtype: object

In [8]:
df_peninsula['value'] = round(df_peninsula['value'], 2)
df_peninsula

          value  percentage                       datetime  tipo_energia
0    9877373.48    0.400643  2011-01-01T00:00:00.000+01:00     Renovable
1    7935272.07    0.360597  2011-02-01T00:00:00.000+01:00     Renovable
2    9547139.34    0.400342  2011-03-01T00:00:00.000+01:00     Renovable
3    8058827.18    0.391932  2011-04-01T00:00:00.000+02:00     Renovable
4    7192162.88    0.348062  2011-05-01T00:00:00.000+02:00     Renovable
..          ...         ...                            ...           ...
7   14561552.65    0.610776  2022-08-01T00:00:00.000+02:00  No renovable
8   13690253.51    0.611795  2022-09-01T00:00:00.000+02:00  No renovable
9   12496382.61    0.601464  2022-10-01T00:00:00.000+02:00  No renovable
10  10611273.47    0.517150  2022-11-01T00:00:00.000+01:00  No renovable
11  11329929.33    0.536199  2022-12-01T00:00:00.000+01:00  No renovable

[288 rows x 4 columns]

In [9]:
df_peninsula['percentage'] = round(df_peninsula['percentage'], 2)
df_peninsula

          value  percentage                       datetime  tipo_energia
0    9877373.48        0.40  2011-01-01T00:00:00.000+01:00     Renovable
1    7935272.07        0.36  2011-02-01T00:00:00.000+01:00     Renovable
2    9547139.34        0.40  2011-03-01T00:00:00.000+01:00     Renovable
3    8058827.18        0.39  2011-04-01T00:00:00.000+02:00     Renovable
4    7192162.88        0.35  2011-05-01T00:00:00.000+02:00     Renovable
..          ...         ...                            ...           ...
7   14561552.65        0.61  2022-08-01T00:00:00.000+02:00  No renovable
8   13690253.51        0.61  2022-09-01T00:00:00.000+02:00  No renovable
9   12496382.61        0.60  2022-10-01T00:00:00.000+02:00  No renovable
10  10611273.47        0.52  2022-11-01T00:00:00.000+01:00  No renovable
11  11329929.33        0.54  2022-12-01T00:00:00.000+01:00  No renovable

[288 rows x 4 columns]

- La columna datetime es de tipo string, pero esto a nosotras no nos interesa. Además, en esta columna tiene tanto la fecha como la hora, pero en realidad la hora no nos esta aportando nada de información, es por esto que:

-Deberéis crear una columna nueva donde solo tengamos la información de la fecha en formato AÑO / MES / DIA.

-Una vez creada la columna anterior, convertirla a datetime.

In [10]:
df_peninsula['datetime'] = df_peninsula['datetime'].apply(pd.to_datetime)

In [11]:
df_peninsula['datetime'] = df_peninsula['datetime'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [12]:
df_peninsula

          value  percentage    datetime  tipo_energia
0    9877373.48        0.40  2011-01-01     Renovable
1    7935272.07        0.36  2011-02-01     Renovable
2    9547139.34        0.40  2011-03-01     Renovable
3    8058827.18        0.39  2011-04-01     Renovable
4    7192162.88        0.35  2011-05-01     Renovable
..          ...         ...         ...           ...
7   14561552.65        0.61  2022-08-01  No renovable
8   13690253.51        0.61  2022-09-01  No renovable
9   12496382.61        0.60  2022-10-01  No renovable
10  10611273.47        0.52  2022-11-01  No renovable
11  11329929.33        0.54  2022-12-01  No renovable

[288 rows x 4 columns]

3. En el csv con la información de generación de energías renovables y no renovables a nivel de comunidad autónoma deberéis aplicar los mismos cambios que aplicamos en el ejercicio anterior.

- Guardar los resultados obtenidos en pickle que usaremos en próximos ejercicios de pair programming. Cada fichero debe ir en un pickle

In [13]:
df_peninsula.to_pickle('datos/peninsula_renovables_norenovables.pkl')